.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size large;
    color: black;
    height:50px
  }
.chonk {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .left {
    position: absolute;
    top: 55%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  body, html {
    height: 100%;
  }
  .parallax {
    /* The image used */
    background-image: url('sky.png');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  }
  li:last-child {
    border-right: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }  
  li {
    float: left;
  }
  
  li a {
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
 
